* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Goldman", cursive;
}
.header1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url(./img/hacker22.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
h1 {
  color: white;
  font-size: 5rem;
  padding-bottom: 2rem;
}
h2 {
  margin-left: 45rem;
  color: white;
}
nav {
  display: flex;
  width: 100%;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
  position: fixed;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}
nav a {
  color: white;
  text-decoration: none;
}
nav img {
  width: 5vw;
}

p {
  color: white;
}

body {
  background-color: black;
}
footer {
  background-color: #00a8c7;
  color: white;
  text-align: center;
  font-size: 2rem;
  width: 100vw;
  position: fixed;
  margin-top: 2rem;
  bottom: 0;
  left: 0;
  padding: 2rem;
}
section {
  height: 100vh;
}
p {
  font-size: 2rem;
}
h2 {
  font-size: 6rem;
  font-weight: bold;
}

p {
  width: 50vw;
}
.section_flex {
  display: flex;
  justify-content: space-around;
  width: 100vw;
}

.pfirst {
  display: flex;
  align-items: center;
}
.img1 {
  margin-top: 10rem;
}

.section_flex2 {
  display: flex;
  justify-content: space-around;
  width: 100vw;
}

.p2 {
  display: flex;
  align-items: center;
}
